@mixin break-min($length) {
    @media (min-width: $length) {
        @content;
    }
}

@mixin break-max($length) {
    @media (max-width: $length) {
        @content;
    }
}

@mixin bg($url, $size:cover, $position: center) {
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}


@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
